<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyAirBnb</title>
    <script src="https://kit.fontawesome.com/1cc3f9ea86.js"></script>
    <link rel="stylesheet" href="/css/main_style.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam:300|Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap" rel="stylesheet">
</head>
<body>
    {{> header}}
    
    {{{body}}}

    {{> footer}}
</body>
</html>