<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyAirBnb</title>
    <script src="https://kit.fontawesome.com/1cc3f9ea86.js"></script>
    <link rel="stylesheet" href="/css/main_style.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam:300|Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="abicon"><i class="fab fa-airbnb"></i></a>
        <nav>
            <a href="/">Home</a>
            <a href="/roomList">Listing</a>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" id="signupbut">
                Sign Up</a>
            <a href="#" onclick="document.getElementById('id03').style.display='block'" id="signupbut">
                Log in</a>
        </nav>
        <div id="id01" class="modal1">
            <div class="modal-content">
                <div class="col">
                    <a href="#" class="fb btn"><i class="fab fa-facebook-f"></i> Continue with Facebook</a>
                    <a href="#" class="google btn"><i class="fab fa-google-plus-g"></i> Continue with Google+</a>
                    <p class="or"><span>or</span></p>
                    <a href="#" class="email btn" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'"><i class="fa fa-envelope fa-fw"></i> Sign up with Email</a>
                    <p class="alignleft">Already have an Airbnb account? <a href="#" class="bluelink" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id03').style.display='block'">Log in</a></p>
                </div>
            </div>
        </div>

        <div id="id02" class="modal2">
            <div class="modal-content">
                <div class="col">
                    <p class="aligncenter">Sign up with <a href="#" class="bluelink">Facebook</a> or <a href="#" class="bluelink">Google</a></p>
                    <p class="or"><span>or</span></p>
                    <input type="email" name="emailadd" placeholder="Email address" class="txtbx">
                    <input type="text" name="fname" placeholder="First name" class="txtbx">
                    <input type="text" name="lname" placeholder="Last name" class="txtbx">
                    <input type="password" name="crtpassword" placeholder="Create a password" class="txtbx">
                    <h4 class="alignleft">Birthday</h4>
                    <p class="alignleft greytxt">To sign up, you need to be at least 18. Other people who use Airbnb won’t see your birthday.</p>
                    <input type="date" name="checkout" class="txtbx">
                    <br>
                    <p class="alignleft greytxt">We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>
                    <input type="submit" class="btn email" value="Sign up">
                    <div class="chkbx greytxt">
                        <input id="cb" class="alignleft" type="checkbox" name="noemail" value="no">
                        <label for="noemail" class="alignleft">I don’t want to receive marketing messages from Airbnb. I can also opt out of receiving these at any time in my account settings or via the link in the message.</label>
                    </div>
                    <br><hr><br>
                    <p class="alignleft">Already have an Airbnb account? <a href="#" class="bluelink" onclick="document.getElementById('id02').style.display='none'; document.getElementById('id03').style.display='block'">Log in</a></p>
                </div>
            </div>
        </div>

        <div id="id03" class="modal3">
            <div class="modal-content">
                <div class="col">
                    <a href="#" class="fb btn"><i class="fab fa-facebook-f"></i> Log in with Facebook</a>
                    <a href="#" class="google btn"><i class="fab fa-google-plus-g"></i> Log in with Google+</a>
                    <p class="or"><span>or</span></p>
                    <input type="email" name="emailadd" placeholder="Email Address" class="txtbx">
                    <input type="password" name="crtpassword" placeholder="Password" class="txtbx">
                    <div class="chkbx greytxt">
                        <input id="rmb" class="alignleft" type="checkbox" name="rmbme" value="no">
                        <label for="rmbme" class="alignleft">Remamber me</label>
                    </div>
                    <br><br>
                    <a href="#" class="email btn">Log in</a>
                    <br><br>
                    <p class="aligncenter"><a href="#" class="bluelink">Forget password?</a></p>
                    <br><hr><br>
                    <p class="alignleft">Don't have an account? <a href="#" class="bluelink" onclick="document.getElementById('id03').style.display='none'; document.getElementById('id01').style.display='block'">Sign up</a></p>
                </div>
            </div>
        </div>
    </header>
    
    <script src="/js/main.js"></script>
    
    {{{body}}}

    <footer>
        <div class="footer1">
            <img src="/img/AirBnbLogo.png" alt="AirBnb Logo" width="160">
            <h2>Belong Anywhere</h2>
        </div>
        <div class="footer2">
            <span>Follow us</span><br><a href="#"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;<a href="#"><i class="fab fa-youtube"></i></a>&nbsp;&nbsp;<a href="#"><i class="fab fa-instagram"></i></a>
            <nav>
                <a href="/">Home</a>
                <a href="/roomList">Listing</a>
                <a href="#" onclick="document.getElementById('id01').style.display='block'" id="signupbut">
                    Sign Up</a>
                <a href="#" onclick="document.getElementById('id03').style.display='block'" id="signupbut">
                    Log in</a>
            </nav>
            <p>Whoever you are, whatever you're looking for, we have the perfect place for you.</p>
        </div>
        <div class="footer3">
            <p>This site is for Seneca College Fall 2019 WEB322 student (142358167) assignment delivery only. No commercial use.</p>
        </div>
    </footer>
</body>
</html>