<head>
    <link rel="stylesheet" href="/css/dash_style.css">
</head>



<div class="audivcon">
    <h1 class="aligncenter">Welcome to MyAirBnb</h1><br>
    <p class="aligncenter welcomeinfo">
        Please be aware that an email has been sent to you for validation purpose. <br>
        If you have not received it within 30 minutes, please check your spam folder or contact us. <br>
        Thank you for choosing MyAirBnb!
    </p><br>
    <h2 class="aligncenter">Start Your Journey Now</h2><br>
    <div class="three-grids">
        <figure>
            <a href="#"><img src="/img/Japan.JPG" alt="Japan" class="headshot"></a>
            <figcaption>JAPAN</figcaption>
            <figcaption class="smallerfont">Starting from $29 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/Euro.JPG" alt="Greece" class="headshot"></a>
            <figcaption>GREECE</figcaption>
            <figcaption class="smallerfont">Starting from $33 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/US.JPG" alt="New York" class="headshot"></a>
            <figcaption>US</figcaption>
            <figcaption class="smallerfont">Starting from $39 CAD/night</figcaption>
        </figure>
    </div>
    <br><br><br>
</div>