<head>
    <link rel="stylesheet" href="/css/home_style.css">
</head>

<div id="id04" class="modal4">
    <div class="modal-content4">
        <div class="col4">
            <h2 class="aligncenter bookingtitle">Book homes, hotels, and more on Airbnb</h2>
            <br>
            <div>
                <label for="where" class="bookinglabel">WHERE</label>
                <div class="adultslct">
                    <select name="where" class="slctbx">
                        <option value="Toronto">Toronto</option>
                        <option value="Vancouver">Vancouver</option>
                        <option value="Montreal">Montreal</option>
                        <option value="Calgary">Calgary</option>
                        <option value="Ottawa">Ottawa</option>
                        <option value="Quebec City">Quebec City</option>
                    </select>
                </div>
            </div>
            <div class="two-grids">
                <div>
                    <label for="checkin" class="bookinglabel">CHECK-IN</label>
                    <input type="date" name="checkin" class="txtbx" placeholder="yyyy-mm-dd">
                </div>
                <div>
                    <label for="checkout" class="bookinglabel">CHECK-OUT</label>
                    <input type="date" name="checkout" class="txtbx" placeholder="yyyy-mm-dd">
                </div>
            </div>
            <div class="two-grids">
                <div>
                    <label for="adults" class="bookinglabel">ADULTS</label>
                    <div class="adultslct">
                        <select name="adults" class="slctbx">
                            <option value="1">1 adult</option>
                            <option value="2">2 adults</option>
                            <option value="3">3 adults</option>
                            <option value="4">4 adults</option>
                            <option value="5">5 adults</option>
                            <option value="6">6 adults</option>
                            <option value="7">7 adults</option>
                            <option value="8">8 adults</option>
                            <option value="9">9 adults</option>
                            <option value="10">10 adults</option>
                            <option value="11">11 adults</option>
                            <option value="12">12 adults</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="children" class="bookinglabel">CHILDREN</label>
                    <div class="adultslct">
                        <select name="children" class="slctbx">
                            <option value="0">0 children</option>
                            <option value="1">1 children</option>
                            <option value="2">2 children</option>
                            <option value="3">3 children</option>
                            <option value="4">4 children</option>
                            <option value="5">5 children</option>
                            <option value="6">6 children</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn email" value="Search"> 
        </div>
    </div>
</div>

<div class="promotion">
    <div class="promocontain">
        <div class="promotxt">
            <h2 id="promoh2">Travel with baby?<br>Get 5% Off<br>Enter Promotion Code: OHBABY</h2>
        </div>
    </div>
</div>

<div class="aboutus">
    <div class="audiv">
        <h1 class="aligncenter audivcon">About Us</h1>
        <br>
        <p class="alignjust audivcon">Founded in 2008, Airbnb’s mission is to create a world where people can 
            belong through healthy travel that is local, authentic, diverse, inclusive and sustainable. Airbnb 
            uniquely leverages technology to economically empower millions of people around the world to unlock 
            and monetize their spaces, passions and talents and become hospitality entrepreneurs. Airbnb’s 
            accommodation marketplace provides access to 7 million unique places to stay in more than 100,000 
            cities and 191 countries and regions. With Experiences, Airbnb offers unprecedented access to local 
            communities and interests through 40,000 unique, handcrafted activities run by hosts across 1,000+ 
            cities around the world. Airbnb’s people-to-people platform benefits all our stakeholders, including 
            hosts, guests, employees and the communities in which we operate.</p>
    </div>
    <div class="audivcon vdio">
        <video controls width="100%" poster="/img/AirBnbLogo.png">
            <source src="/img/aboutusvideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <br><br><hr class="audivcon"><br><br>
    <div class="audivcon">
        <h1 class="aligncenter audivcon">Leadership</h1>
        <br>
        <div class="four-grids">
            <figure>
                <img src="/img/leadership/1brian.jpg" alt="Brian" class="headshot">
                <figcaption>Brian Chesky</figcaption>
                <figcaption class="smallerfont">Co-founder, CEO, Head of Community</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/2joe.jpg" alt="Joe" class="headshot">
                <figcaption>Joe Gebbia</figcaption>
                <figcaption class="smallerfont">Co-Founder &amp; CPO</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/3Nathan.jpg" alt="Nathan" class="headshot">
                <figcaption>Nathan Blecharczyk</figcaption>
                <figcaption class="smallerfont">Co-Founder, CSO, Chairman of Airbnb China</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/4Belinda.jpg" alt="Belinda" class="headshot">
                <figcaption>Belinda Johnson</figcaption>
                <figcaption class="smallerfont">Chief Operating Officer</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/13Melissa.jpg" alt="Melissa" class="headshot">
                <figcaption>Melissa Thomas-Hunt</figcaption>
                <figcaption class="smallerfont">Head of Global Diversity &amp; Belonging</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/6Ari.jpg" alt="Ari" class="headshot">
                <figcaption>Ari Balogh</figcaption>
                <figcaption class="smallerfont">Chief Technology Officer</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/7beth.jpg" alt="Beth" class="headshot">
                <figcaption>Beth Axelrod</figcaption>
                <figcaption class="smallerfont">Vice President of Employee Experience</figcaption>
            </figure>
            <figure>
                <img src="/img/leadership/8Rob.jpg" alt="Rob" class="headshot">
                <figcaption>Rob Chesnut</figcaption>
                <figcaption class="smallerfont">General Counsel</figcaption>
            </figure>
        </div>
        <br><br>
    </div>
</div>