<head>
    <link rel="stylesheet" href="/css/list_style.css">
</head>

<div class="audivcon">
    <h1 class="aligncenter audivcon">Check Out Our New Listings</h1>
    <br><br>
    <div class="three-grids">
        <figure>
            <a href="#"><img src="/img/listing/1.jpg" alt="1pic" class="headshot"></a>
            <figcaption>Entire condominium | 1 bed<br>KING WEST EXECUTIVE SUITE</figcaption>
            <figcaption class="smallerfont">$100 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/2.jpg" alt="2pic" class="headshot"></a>
            <figcaption>Entire house | 2 beds<br>Stylish 1870s Home</figcaption>
            <figcaption class="smallerfont">$356 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/3.jpg" alt="3pic" class="headshot"></a>
            <figcaption>Entire loft | 3 beds<br>Spectacular Modern/Bright</figcaption>
            <figcaption class="smallerfont">$149 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/4.jpg" alt="4pic" class="headshot"></a>
            <figcaption>Entire apertment | 2 beds<br>Japan Inspired Studio Apartment</figcaption>
            <figcaption class="smallerfont">$64 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/5.jpg" alt="5pic" class="headshot"></a>
            <figcaption>Entire apertment | 3 beds<br>Studio Symmetric</figcaption>
            <figcaption class="smallerfont">$87 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/6.jpg" alt="6pic" class="headshot"></a>
            <figcaption>Private room | 2 beds<br>Stylish Downtown Double Room</figcaption>
            <figcaption class="smallerfont">$59 CAD/night</figcaption>
        </figure>
    </div>
    <br><br><br>
</div>