a, nav a:visited
{
    color: #393939;
}

.col {
    float: center;
    width: auto;
    margin: auto;
    padding: 40px;
    margin-top: 6px;
}

.modal-content {
    background-color: white;
    margin: 2% auto 5% auto;/* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/******** RESPONSIVE DESIGN ********/

/******** LAPTOP ********/

@media (min-width:801px)
{
    body
    {
        width:100%;
        min-width:801px;
    }

}

/******** TABLET ********/

@media (min-width: 501px) and (max-width: 800px)
{
    body
    {
        width: 100%;
        max-width: 800px;
        min-width: 501px;
    }

    .col {
        padding: 25px;
        margin-top: 6px;
    }
    
    .modal-content {
        width: 80%;
    }

    footer
    {
        position: absolute; 
        left: 0 ; right: 0; bottom: 0; 
    }

}

/******** SMARTPHONE ********/

@media (max-width: 500px)
{
    body
    {
        width: 100%;
        max-width: 500px;
    }

    .modal-content {
        border: none;
        width: 100%;
    }

    /* .col {
        padding: 29px;
        width: 100%;
    }

    .bookingtitle
    {
        font-size: 1.5rem;
    }

    .promotion
    {
        padding: 1.5%;
    }

    .promocontain
    {
        padding: 3.6% 6%;
    }

    .promotxt
    {
        width: 46%;
    }

    .promotxt h2
    {
        font-size: 1rem;
    }

    .vdio
    {
        margin: 0;
        padding-bottom: 0;
    }

    .audiv h1, .audivcon h1
    {
        font-size: 1.6rem;
    }

    figure
    {
        width: 100%;
        text-align: center;
        padding-top: 10%;
    }

    .headshot
    {
        width: 77%;
        height: 300px;;
        padding-bottom: 0;
    } */

}
